:root {
--green: #4CBB17;
--white: #f1f1f1;
--orange: #FFB52E;
}

h1 {
  font-size: 24rem;
}

h2 {
  font-size: 1.5rem;
}

header {
  background-image: url(../images/eyes.jpg);
  background-position: center;
  background-size: cover;
  color: var(--green);
  text-align: center;
}

nav {
  display: flex;
  background-color: var(--orange);
}

nav a {
  color: var(--green);
  padding: 20px 30px;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--white);
}

main {
  background-color: var(--green);
  display: flex;
  flex-wrap: wrap;
}

footer {
  padding: 50px 0px 10px 0px;
  text-align: center;
  background-color: var(--orange);
  color: var(--white);
}

.card:first-of-type{
  width: 100%;
}

.card:hover{

}

.card {
  flex: 0 0 300px;
}

.card > header {
  
}

.card > p {

}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
