:root {
--green: #013220;
--white: #cccbcb;
--orange: #c46a03;
}

h1 {
  font-size: 24rem;
}

h2 {
  font-size: 2.5rem;
}

header {
  background-image: url(../images/eyes.jpg);
  background-position: center;
  background-size: cover;
  color: var(--green);
  text-align: center;
}

nav {
  display: flex;
  background-color: var(--orange);
  text-decoration: none;
  color: var(--green);
  flex-wrap: wrap;
}

main {
  background-color: var(--green);
  color: var(--white);
  display: flex;
}

footer {
  padding: 50px 0px 10px 0px;
  text-align: center;
  background-color: var(--orange);
  color: var(--green);
}


.card {
  flex: 0 0 500px;
  position: relative;
  border: 15px solid var(--green);
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:first-of-type{
  flex-basis: 100vw;
}

.card:hover{
  border-color: var(--white);
}

nav p{
  position: absolute;
  bottom: 150px;
  left: 0px;
  background-color: var(--green);
  color: var(--white);
  padding: 15px;
  font-size: 1.5rem;
}

h3{
  font-size: 3rem;
  color: var(--orange);
  padding-bottom: 40px;
}

section{
  font-size: 1.5rem;
  padding: 50px 0px;
  border: 7px var(--orange);
}

article{
  margin: 75px 25px;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
